.autopilot {
  position: absolute;
  top: 10px;
  left: 10px;

  .algolia-places {
    width: 330px;

    &.hide {
      display: none;
    }
  }

  &-btn {
    float: left;
    margin-right: 10px;
  }

  &-modal {
    background-color: rgba(255, 255, 255, .95);
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
    display: none;
    position: absolute;
    padding: 10px 25px 10px 25px;
    top: calc(50vh - (420px / 2) - $navbar-height);
    left: calc(50vw - (600px / 2));
    width: 600px;
    z-index: 9999;

    &.open{
      display: block;
    }

    .travel-mode {
      cursor: pointer;

      &.selected {
        border: 1px solid #0275d8 !important;
        background-color: #edf3ff !important;
      }

      .fa {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .desc {
        margin: 0px 10px;
      }
    }

    button {
      margin-top: 20px;
    }
  }

  .edit {
    margin-left: 10px;
  }
}
